# Repository API
QDRANT_URL =
QDRANT_API_KEY =

# Agent API
GOOGLE_GENAI_USE_VERTEXAI =
GOOGLE_API_KEY =

# Frontend
VITE_SENTRY_DSN =
VITE_SENTRY_ORG =
VITE_SENTRY_PROJECT =

SENTRY_AUTH_TOKEN =
VITE_CLERK_PUBLISHABLE_KEY =
CLERK_SECRET_KEY =